@import "~antd/dist/antd.css";
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-page-header {
  background: #a330da !important;
  box-shadow: 0 5px 5px #b363d8;
}
.ant-list-item {
  box-shadow: 0 5px 5px #ddd !important;
  border-radius: 20px !important;
}

.ant-card-bordered {
  border-radius: 20px !important;
}

.ant-page-header-title-view-title,
.ant-page-header-title-view-sub-title {
  color: #fff !important;
}

.ant-card-actions {
  position: absolute;
  bottom: 1px;
  width: 100%;
  border-radius: 20px;
  background: #c7a8e1;
}
